// .pwResetDiv {

//     width: 85vw !important;
//     height: 95vh !important;
// }

// .widgetDiv {
//     margin-top: 30vh !important;
// }


// // Delete Remember me checkbox
// #okta-sign-in .custom-checkbox,
// #okta-sign-in .custom-radio {
//     //  display:none!important;
// }



// element.setAttribute('href','https://www.yahoo.co.jp')
// element.setAttribute('value','Yahoo Japan!')
// element.setAttribute('data-se','')


//o-form-fieldset-container


// #okta-sign-in.auth-container.main-container {
//     font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
//     color: #777;
// }

//button button-primary button-wide link-button

//#okta-sign-in.auth-container .button-primary


// document.getElementById('link_other').getElementsByTagName('a');


//document.getElementById("english").style.visibility = "visible";

//<a class="btn btn-danger btn-round" class="btn btn-danger btn-round" id="home" (click)="Home()">Home</a>